<div class="container-formulario">
  <div class="informacoes">
    <!-- informações de contato -->
  </div>
  <div class="formulario">
    <form>
      <h1>Cadastro de Empresa</h1>
      <div class="container-inputs">
        <label>Empresa</label>
        <input type="text" placeholder="Empresa">
        <div class="informacao-contato">
          <label>CNPJ</label>
          <label>Telefone</label>
          <input type="text" placeholder="CNPJ">
          <input type="text" placeholder="Telefone">
        </div>
        <label>E-mail</label>
        <input type="text" placeholder="E-mail">
        <label>Senha</label>
        <input type="text" placeholder="Senha">
        <div class="informacao-endereco">
          <label>CEP</label>
          <label>Número</label>
          <input type="text" placeholder="CEP">
          <input type="text" placeholder="Número">
        </div>
      </div>
      <button>Cadastrar</button>
    </form>
  </div>
</div>
<link rel="stylesheet" href="/css/cadastro_empresa_small.css" media="(max-width: 576px)">
<link rel="stylesheet" href="/css/cadastro_empresa_medium.css" media="(min-width: 577px) and (max-width: 991px)">
<link rel="stylesheet" href="/css/cadastro_empresa_large.css" media="(min-width: 992px)">
<script src="./js/index.js"></script>