
    <div class="container">
        <div class="container-informacoes">

        </div>
        <div class="container-formulario">
            <form>
                <h1>Cadastro de Funcionário</h1>
                <label>Nome</label>
                <input type="text" placeholder="Nome">
                <div class="container-tipo-funcionario">
                    <label>Cargo</label>
                    <label>Tipo</label>
                    <input type="text" placeholder="Cargo">
                    <select>
                        <option value="0">Operacional</option>
                        <option value="1">Administrador</option>
                    </select>
                </div>
                <label>E-mail</label>
                <input type="text" placeholder="E-mail">
                <label>Senha</label>
                <input type="text" placeholder="Senha">
                <label>Contato</label>
                <input type="text" placeholder="Contato">
                <button>Cadastrar</button>
            </form>
        </div>
    </div>

    <link rel="stylesheet" href="/css/index.css">
    <script src="/js/index.js"></script>


