<header id="header">
  <div class="container-fluid">
    <div id="logo" class="pull-left">
      <h1><a href="#intro" class="scrollto">Single Tec</a></h1>
    </div>
    <nav id="nav-menu-container">
      <ul class="nav-menu">
        <li class="menu-active"><a href="#intro">Home</a></li>
        <li><a href="#about">Sobre nós</a></li>
        <li><a href="#services">Serviços</a></li>
        <li><a href="#team">Team</a></li>
        <li class="has-dropdown"><a id="cadastro_login" href="">Empresa</a>
          <ul class="dropdown">
            <li><a class="btn big-register" data-toggle="modal" href="/empresa/cadastrar"
                onclick="openRegisterModal();">Cadastro</a></li>
            <li><a class="btn big-login" data-toggle="modal" href="javascript:void(0)"
                onclick="openLoginModal();">Login</a></li>
            <li>
            </li>
          </ul>
        </li>
        <li class="has-dropdown"><a id="cadastro_login" href="#">Funcionario</a>
          <ul class="dropdown">
            <li><a class="btn big-login" data-toggle="modal" href="" onclick="loginModalFuncionario();">Login</a></li>
            <li>
            </li>
          </ul>
        </li>
        <li><a href="#contact">Contato</a></li>
      </ul>
    </nav>
  </div>
  <div id="container-login-funcionario" class="container-login-funcionario">
    <div class="modal-funcionario">
      <span id="close-login-funcionario">x</span>
      {{!-- <img src="/img/funcionario.png"> --}}
      <h2>Login</h2>
      <label >E-mail</label>
      <input id="email-funcionario" placeholder="E-mail" type="text">
      <label >Senha</label>
      <input id="senha-funcionario" placeholder="Senha" type="password">
      <button id="btn_logar_funcionario">Acessar</button>
    </div>
  </div>
</header>
<div class="modal fade login" id="loginModal">
  <div class="modal-index">
    <span>Funcionario cadastrado!</span>
  </div>
  <div class="modal-dialog login animated">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Login</h4>
      </div>
      <div class="modal-body">
        <div class="box">
          <div class="content">
            <div class="error"></div>
            <div class="form loginBox">
              <form id="form_login" name="form" method="POST" action="" accept-charset="UTF-8">
                <label for="">E-mail</label>
                <input required type="text" class="form-control" placeholder="Usuario" name="login" id="usuario">
                <label for="">Senha</label>
                <input required type="password" class="form-control" type="password" placeholder="Senha" name="senha"
                  id="senha">
                <input class="btn btn-default btn-login" type="submit" value="Acessar">
              </form>
            </div>
          </div>
        </div>
        <div class="box">
          <div class="content registerBox" style="display:none;">
            <div class="form">
              <form id="form_cadastro" name="form" method="POST" html="{:multipart=>true}" data-remote="true" action=""
                accept-charset="UTF-8">
                <label for="">Nome</label>
                <input id="nome" class="form-control" type="text" placeholder="Nome" name="nome">
                <label for="">Usuario</label>
                <input id="user" class="form-control" type="text" placeholder="Usuario" name="login">
                <label for="">Senha</label>
                <input id="senha" class="form-control" type="password" placeholder="Senha" name="senha">
                <input id="btn" class="btn btn-default btn-register" type="button" value="Criar conta" name="commit"
                  onclick="return cadastrar()">
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="forgot login-footer">
          <span>Não é nosso cliente?
            <a href="/empresa/cadastrar">Inscreva-se</a></span>
        </div>
        <div class="forgot register-footer" style="display:none">
          <span>Já tem uma conta?</span>
          <a href="javascript: showLoginForm();">Login</a>
        </div>
      </div>
    </div>
  </div>
</div>
<section id="intro">
  <div class="intro-container">
    <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">
      <ol class="carousel-indicators"></ol>
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
          <div class="carousel-background"><img src="img/intro-carousel/1.jpg" alt=""></div>
          <div class="carousel-container">
            <div class="carousel-content">
              <h2>Single Tec</h2>
              <p>A facilidade que você precisa agora existe.</p>
              <a href="#featured-services" class="btn-get-started scrollto">Get Started</a>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="carousel-background"><img src="img/intro-carousel/2.jpg" alt=""></div>
          <div class="carousel-container">
            <div class="carousel-content">
              <h2>Team</h2>
              <p>Temos uma equipe preparada para te auxilar</p>
              <a href="#team" class="btn-get-started scrollto">Get Started</a>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="carousel-background"><img src="img/intro-carousel/3.jpg" alt=""></div>
          <div class="carousel-container">
            <div class="carousel-content">
              <h2>Monitoramento eficiente</h2>
              <p>Desenvolvemos uma aplicação onde você terá um monitoramento eficaz do seus totens.
              </p>
              <a href="#services" class="btn-get-started scrollto">Get Started</a>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</section>

<main id="main">
  <section id="featured-services">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 box">
          <i class="ion-ios-bookmarks-outline"></i>
          <h4 class="title"><a href="">Comprometimento</a></h4>
          <p class="description">Para que haja um projeto de sucesso, é necessário que exista comprometimento
            entre o cliente e a empresa.</p>
        </div>
        <div class="col-lg-4 box box-bg">
          <i class="ion-ios-stopwatch-outline"></i>
          <h4 class="title"><a href="">Rapidez</a></h4>
          <p class="description">Fazer as entregas nas datas solicitadas é fundamental para o andamento do
            projeto.
          </p>
        </div>
        <div class="col-lg-4 box">
          <i class="ion-ios-heart-outline"></i>
          <h4 class="title"><a href="">Qualidade</a></h4>
          <p class="description">O que mais prezamos dentro da nossas empresa é a qualidade dos nossos
            produtos.</p>
        </div>
      </div>
    </div>
  </section>
  <section id="about">
    <div class="container">
      <header class="section-header">
        <h3>Sobre nós</h3>
        <p>
          Single Tec nasceu no intuito de entregar para seus clientes gerenciamento das frentes
          de infraestrutura, através de plataformas de monitoramento e uma equipe gabaritada e
          certificada.
        </p>
      </header>
      <div class="row about-cols">
        <div class="col-md-4 wow fadeInUp">
          <div class="about-col">
            <div class="img">
              <img src="img/about-mission.jpg" alt="" class="img-fluid">
              <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
            </div>
            <h2 class="title"><a href="#">Nossa Missão</a></h2>
            <p>
              Oferecer ao mercado as melhores soluções em serviços de tecnologia, agregando valor de
              forma contínua às nossas atividades, tendo como base o comprometimento ético com nossos
              clientes e colaboradores.
            </p>
          </div>
        </div>
        <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
          <div class="about-col">
            <div class="img">
              <img src="img/about-plan.jpg" alt="" class="img-fluid">
              <div class="icon"><i class="ion-ios-list-outline"></i></div>
            </div>
            <h2 class="title"><a href="#">Nosso Plano</a></h2>
            <p>
              Nosso objetivo é desenvolver e implementar soluções que buscam ajudar você a alcançar os
              objetivos do seu negócio, permitindo que você invista o seu tempo no que é mais
              importante para você, tornando a sua missão mais fácil de ser realizada e seus
              resultados
              muito melhores!
            </p>
          </div>
        </div>
        <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
          <div class="about-col">
            <div class="img">
              <img src="img/about-vision.jpg" alt="" class="img-fluid">
              <div class="icon"><i class="ion-ios-eye-outline"></i></div>
            </div>
            <h2 class="title"><a href="#">Nossa Visão</a></h2>
            <p>
              Ser o portal referência na internet no setor de soluções para empresas no que abrange a
              área de tecnologia, tendo como base o reconhecimento pela qualidade, praticidade e
              excelência nos serviços prestados.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="services">
    <div class="container">
      <header class="section-header wow fadeInUp">
        <h3>Serviços</h3>
        <p>Nosso principal foco é no monitoramento de desempenho dos sistemas, mais precisamente na CPU,
          mémoria e disco.</p>
      </header>
      <div class="row">
        <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
          <div class="icon"><i class="ion-ios-analytics-outline"></i></div>
          <h4 class="title"><a href="">CPU</a></h4>
          <p class="description"></p> Com o monitoramento da cpu evitamos sobrecargas e aquecimento.
          </p>
        </div>
        <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
          <div class="icon"><i class="ion-ios-bookmarks-outline"></i></div>
          <h4 class="title"><a href="">Memória</a></h4>
          <p class="description">Monitoramento de memória evitando acumulo de informações desnecessárias. </p>
        </div>
        <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
          <div class="icon"><i class="ion-ios-paper-outline"></i></div>
          <h4 class="title"><a href="">Disco</a></h4>
          <p class="description">Com o monitoramento de disco aumentamos a performance</p>
        </div>
      </div>
    </div>
  </section>
  <section id="clients" class="wow fadeInUp">
    <div class="container">
      <header class="section-header">
        <h3>Nossos Clientes</h3>
      </header>
      <div class="owl-carousel clients-carousel">
        <img src="img/clients/prodata.jpg" alt="">
        <img src="img/clients/cartao-gv.png" alt="">
        <img src="img/clients/logo-perto.png" alt=""> -->
        <img src="img/clients/autopass.png" alt="">
      </div>
    </div>
  </section>
  <section id="team">
    <div class="container">
      <div class="section-header wow fadeInUp">
        <h3>Sócios</h3>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-6 wow fadeInUp">
          <div class="member">
            <img src="img/Lucas.jpeg" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>Lucas Dias</h4>
                <span>Desenvolvedor</span>
                <div class="social">
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href=""><i class="fa fa-google-plus"></i></a>
                  <a href=""><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
          <div class="member">
            <img src="img/miguell.jpg" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>Miguel Moreira</h4>
                <span>Desenvolvedor</span>
                <div class="social">
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href=""><i class="fa fa-google-plus"></i></a>
                  <a href=""><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
          <div class="member">
            <img src="/img/isabella.jpg" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>Isabella Maia</h4>
                <span>Scrum Master</span>
                <div class="social">
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href=""><i class="fa fa-google-plus"></i></a>
                  <a href=""><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
          <div class="member">
            <img src="img/Vinicius Sobral.jpeg" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>Vinicius Sobral</h4>
                <span>Product Owner</span>
                <div class="social">
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href=""><i class="fa fa-google-plus"></i></a>
                  <a href=""><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="team">
    <div class="container">
      <div class="section-header wow fadeInUp">
        <div class="row">
          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="member">
              <img src="img/Bruno3x4.jpeg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Bruno Almeida</h4>
                  <span>Desenvolvedor</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
            <div class="member">
              <img src="img/andretorelli.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>André Torelli</h4>
                  <span>Desenvolvedor</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
  </section>
  <section id="contact" class="section-bg wow fadeInUp">
    <div class="container">
      <div class="section-header">
        <h3>Nosso Contato</h3>
        <p>Sinta-se a vontade para entrar em contato conosco</p>
      </div>
      <div class="row contact-info">
        <div class="col-md-4">
          <div class="contact-address">
            <i class="ion-ios-location-outline"></i>
            <h3>Endereço</h3>
            <address>Avenida Maritima de Souza,888 Parque da Luz, <Br>
              São Paulo-SP Brasil</address>
          </div>
        </div>
        <div class="col-md-4">
          <div class="contact-phone">
            <i class="ion-ios-telephone-outline"></i>
            <h3>Telefone para contato</h3>
            <p><a href="tel:+55 11 98351-1226">+55 11 98351-1226</a></p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="contact-email">
            <i class="ion-ios-email-outline"></i>
            <h3>E-mail</h3>
            <p><a href="grupo03bilheteunico@bandtec">
                <grupo03bilheteunico@bandtec class="com br"></grupo03bilheteunico@bandtec>
                grupo03bilheteunico@bandtec.com.br
              </a></p>
          </div>
        </div>
      </div>
      <div class="form" id="form">
        <div id="sendmessage">Your message has been sent. Thank you!</div>
        <div id="errormessage"></div>
        <form action="" method="post" role="form" class="contactForm">
          <div class="form-row">
            <div class="form-group col-md-6">
              <input type="text" name="name" class="form-control" placeholder="Nome" id="nome" data-rule="minlen:4"
                data-msg="Please enter at least 4 chars" />
              <div class="validation"></div>
            </div>
            <div class="form-group col-md-6">
              <input type="email" class="form-control" placeholder="E-mail" id="e-mail" data-rule="email"
                data-msg="Please enter a valid email" />
              <div class="validation"></div>
            </div>
            <div class="validation"></div>
          </div>
          <div class="form-group">
            <select name="Título" class="form-control" name="subject" id="titulo" data-rule="minlen:4"
              data-msg="Please enter at least 8 chars of subject">
              <option value="0">Escolhe uma opção</option>
              <option value="Satisfação">Satisfação</option>
              <option value="Dúvida">Dúvidas</option>
              <option value="Reclamação">Reclamações</option>
            </select>
            <div class="validation"></div>
          </div>
          <div class="form-group">
            <textarea class="form-control" name="message" rows="5" data-rule="required"
              data-msg="Please write something for us" placeholder="Message" id="mensagem"></textarea>
            <div class="validation"></div>
          </div>
          <div class="text-center">
            <button type="submit" id="submit">
              Enviar Mensagem
              <img src="/img/spinner.gif" id="spinner">
            </button>
          </div>
        </form>
      </div>
    </div>
  </section>
</main>
<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="ion-ios-arrow-right"></i> <a href="#">Home</a></li>
            <li><i class="ion-ios-arrow-right"></i> <a href="#">Sobre nós</a></li>
            <li><i class="ion-ios-arrow-right"></i> <a href="#">Serviços</a></li>
            <li><i class="ion-ios-arrow-right"></i> <a href="#">Team</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 footer-contact">
          <h4>Nosso contato</h4>
          <p>
            Avenida Maritima 888 <br> Parque da Luz <br> São Paulo- SP, <br> Brasil<br>
            <strong>Telefone:</strong>+55 11 98351-1226<br>
            <strong>Email:</strong> grupo03bilheteunico@bandtec.com.br<br>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong>BizPage</strong>. All Rights Reserved
    </div>
    <div class="credits">
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </div>
  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <link href="/img/favicon.png" rel="icon">
  <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700"
    rel="stylesheet">
  <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/lib/animate/animate.min.css" rel="stylesheet">
  <link href="/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="/lib/lightbox/css/lightbox.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/login_register.css">
  <link href="/css/style.css" rel="stylesheet">
  <link href="/css/app.css" rel="stylesheet">
  <script src="/js/app.js"></script>
  <script src="/lib/jquery/jquery.min.js"></script>
  <script src="/lib/jquery/jquery-migrate.min.js"></script>
  <script src="/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/lib/easing/easing.min.js"></script>
  <script src="/lib/superfish/hoverIntent.js"></script>
  <script src="/lib/superfish/superfish.min.js"></script>
  <script src="/lib/wow/wow.min.js"></script>
  <script src="/lib/waypoints/waypoints.min.js"></script>
  <script src="/lib/counterup/counterup.min.js"></script>
  <script src="/lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="/lib/isotope/isotope.pkgd.min.js"></script>
  <script src="/lib/lightbox/js/lightbox.min.js"></script>
  <script src="/lib/touchSwipe/jquery.touchSwipe.min.js"></script>
  <script src="/js/login_register.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="/js/main.js"></script>
  <script src="/js/login.js"></script>