<div class="container">
  <menu>
    <h2>singleTec</h2>
    <ul>
      <li>
        <span>
          <img src="/img/user.png" />
        </span>
        <a href="#">Funcionario</a>
      </li>
      <li>
        <span>
          <img src="/img/settings.png" />
        </span>
        <a href="#">Configurações</a>
      </li>
      <li>
        <span>
          <img src="/img/interogation.png" />
        </span>
        <a href="#">Dúvidas</a>
      </li>
  </menu>
  <main>
    <header>
      <span class="container-pesquisa">
        <input type="text" placeholder="Busque um funcionario aqui">
        <button>Buscar</button>
      </span>
    </header>
    <div class="container-funcionarios">
      <h3>Colaboradores cadastrados</h3>
      <table>
        <thead>
          <tr>
            <td>Id</td>
            <td>Nome</td>
            <td>E-mail</td>
            <td>Tipo</td>
            <td>Contato</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>0</td>
            <td>André Xavier Torelli</td>
            <td>andrexavier7488@gmail.com</td>
            <td>administrador</td>
            <td>11 95408-7656</td>
            <td><button>x</button></td>
          </tr>
          <tr>
            <td>1</td>
            <td>André Xavier Torelli</td>
            <td>andrexavier7488@gmail.com</td>
            <td>administrador</td>
            <td>11 95408-7656</td>
            <td><button>x</button></td>
          </tr>
          <tr>
            <td>2</td>
            <td>André Xavier Torelli</td>
            <td>andrexavier7488@gmail.com</td>
            <td>administrador</td>
            <td>11 95408-7656</td>
            <td><button>x</button></td>
          </tr>
          <tr>
            <td>3</td>
            <td>André Xavier Torelli</td>
            <td>andrexavier7488@gmail.com</td>
            <td>administrador</td>
            <td>11 95408-7656</td>
            <td><button>x</button></td>
          </tr>
          <tr>
            <td>4</td>
            <td>André Xavier Torelli</td>
            <td>andrexavier7488@gmail.com</td>
            <td>administrador</td>
            <td>11 95408-7656</td>
            <td><button>x</button></td>
          </tr>
          <tr>
            <td>5</td>
            <td>André Xavier Torelli</td>
            <td>andrexavier7488@gmail.com</td>
            <td>administrador</td>
            <td>11 95408-7656</td>
            <td><button>x</button></td>
          </tr>
          <tr>
            <td>6</td>
            <td>André Xavier Torelli</td>
            <td>andrexavier7488@gmail.com</td>
            <td>administrador</td>
            <td>11 95408-7656</td>
            <td><button>x</button></td>
          </tr>
          <tr>
            <td>7</td>
            <td>André Xavier Torelli</td>
            <td>andrexavier7488@gmail.com</td>
            <td>administrador</td>
            <td>11 95408-7656</td>
            <td><button>x</button></td>
          </tr>
          <tr>
            <td>8</td>
            <td>André Xavier Torelli</td>
            <td>andrexavier7488@gmail.com</td>
            <td>administrador</td>
            <td>11 95408-7656</td>
            <td><button>x</button></td>
          </tr>
          <tr>
            <td>9</td>
            <td>André Xavier Torelli</td>
            <td>andrexavier7488@gmail.com</td>
            <td>administrador</td>
            <td>11 95408-7656</td>
            <td><button>x</button></td>
          </tr>
          <tr>
            <td>9</td>
            <td>André Xavier Torelli</td>
            <td>andrexavier7488@gmail.com</td>
            <td>administrador</td>
            <td>11 95408-7656</td>
            <td><button>x</button></td>
          </tr>
          <tr>
            <td>9</td>
            <td>André Xavier Torelli</td>
            <td>andrexavier7488@gmail.com</td>
            <td>administrador</td>
            <td>11 95408-7656</td>
            <td><button>x</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </main>
</div>
<link rel="stylesheet" href="/css/tela-inicial-empresa.css">
<script src="/js/tela-inicial-empresa.js"></script>