<div class="container">
  <main>
    <div class="container-img">
      <img src="/img/tema-totem.png">
      <span>
        <img src="/img/voltar.png">
      </span>
    </div>
    <div class="container-conteudo">
      <h2>Cadastro de máquina</h2>
      <label>Modelo</label>
      <input type="text">
      <label>Serial Number</label>
      <input type="text">
      <label>CEP</label>
      <input id="cep" type="text">
      <label>Rua</label>
      <input id="rua" type="text">
      <div class="container-endereco">
        <label>Bairro</label>
        <label>Numero</label>
        <label>Complemento</label>
        <input id="bairro" type="text">
        <input id="numero" type="text">
        <input id="complemento" type="text">
      </div>
      <button>Cadastrar</button>
    </div>
  </main>
</div>
<script src="/js/tela-cadastro-maquina.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js"></script>
<link rel="stylesheet" href="/css/tela-cadastro-maquina.css">