<div class="container">
  <menu>
    <h2 id="titulo"></h2>
    <ul>
      <li>
        <span>
          <img src="/img/user.png" />
        </span>
        <a href="#">Funcionario</a>
      </li>
      <li>
        <span>
          <img src="/img/settings.png" />
        </span>
        <a href="#">Configurações</a>
      </li>
      <li>
        <span>
          <img src="/img/interogation.png" />
        </span>
        <a href="#">Dúvidas</a>
      </li>
  </menu>
  <main>
    <header>
      <span class="container-pesquisa">
        <input type="text" placeholder="Busque um funcionario aqui">
        <button>Buscar</button>
      </span>
    </header>
    <div class="container-funcionarios">
      <h3>Colaboradores cadastrados</h3>
      <table>
        <thead>
          <tr>
            <td>IdFuncionario</td>
            <td>Nome</td>
            <td>Cargo</td>
            <td>Função</td>
            <td>E-mail</td>
          </tr>
        </thead>
        <tbody>
          {{!-- não apagar --}}
        </tbody>
      </table>
    </div>
  </main>
</div>
<link rel="stylesheet" href="/css/tela-inicial-empresa.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js"></script>
<script src="/js/tela-inicial-empresa.js"></script>