<div class="container">
    <div class="container-informacoes">

    </div>
    <div class="container-formulario">
        <form id="form_login_func" method="POST">
            <h1>Login</h1>
            <label>Email</label>
            <input type="text" placeholder="E-mail" id="email">
            <label>Senha</label>
            <input type="text" placeholder="Senha" id="senha">
            <button>Login</button>
        </form>
    </div>
</div>

<link rel="stylesheet" href="/css/index.css">
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/logarFunc.js"></script>
