<div class="container">
  <menu>
    <h2 id="titulo"></h2>
    <ul>
      <li>
        <span>
          <img src="/img/home.png" />
        </span>
        <a href="/funcionario/home">Home</a>
      </li>
    </ul>
  </menu>
  <main>
    <h2>Encontre suas máquinas</h2>
    <h5>Tenha um controle de todas as suas máquinas cadastradas</h5>
    <div class="pesquisa-maquina">
      <input placeholder="Serial Number" id="buscaMaquinaSerial" type="text">
      <img src="/img/icon-search.png">
    </div>
  </main>
</div>
<link rel="stylesheet" href="/css/minhasMaquinas.css">
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/minhasMaquinas.js"></script>