<div class="container">
  <menu>
    <h2 id="titulo"></h2>
    <ul>
  </menu>
  <main>
    <h2>Encontre suas máquinas</h2>
    <h5>Tenha um controle de todas as suas máquinas cadastradas</h5>
    <div class="pesquisa-maquina">
      <input placeholder="Serial Number" type="text">
      <button>Buscar</button>
    </div>
  </main>
</div>
<link rel="stylesheet" href="/css/minhasMaquinas.css">
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/minhasMaquinas.js"></script>