* {
  margin: 0px;
  padding: 0px;
  font-family: Arial;
  box-sizing: border-box;
  font-family: font-personalizada;
}

@font-face {
  font-family: 'font-personalizada';
  src: url("../fonts/Poppins-Regular.ttf");
}

body {
  position: relative;
}

body::-webkit-scrollbar {
  width: 7px;
}

body::-webkit-scrollbar-thumb {
  background: #dcdcdc;
  border-radius: 20px;
}

.container {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #dcdcdc;
  display: flex;
}

main {
  position: relative;
  flex: 1;
  height: 100%;
}

main header {
  position: relative;
  width: 100%;
  height: 70px;
  background: #fff;
  display: flex;
  align-items: center;
  border-bottom: solid 1px rgba(0, 0, 0, .1);
}

main header .container-pesquisa {
  position: relative;
  width: 300px;
  height: 35px;
  margin-left: 100px;
  display: flex;
  background: red
}

main header .container-pesquisa input {
  position: relative;
  width: 100%;
  height: auto;
  border: solid 1px #dcdcdc;
  padding-left: 10px;
  outline-color: #4e73df;
  padding-right: 45px;
}

main header .container-pesquisa img{
  position: absolute;
  right: 15px;
  top: 7px;
  width: 20px;
  height: 20px;
}

main header .container-pesquisa button {
  position: relative;
  border: none;
  flex: 1;
  background: #4e73df;
  color: #fff;
  cursor: pointer;
  outline: none;
}

menu {
  position: relative;
  height: 100%;
  width: 210px;
  background: #4e73df;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

menu h2 {
  position: relative;
  width: 80%;
  height: auto;
  padding: 15px;
  margin-top: 10px;
  border-bottom: solid 1px rgba(255, 255, 255, .1);
  word-break: break-all;
  text-align: center;
}

menu ul {
  position: relative;
  width: 100%;
  height: auto;
  list-style-type: none;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  padding: 15px;
}

menu ul li {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 30px;
  display: flex;
  padding-bottom: 14px;
}

menu ul li span {
  position: relative;
  width: 16px;
  height: 16px;
}

menu ul li span img {
  width: 100%;
  height: 100%;
}

menu ul li a {
  position: relative;
  flex: 1;
  align-items: center;
  display: flex;
  padding-left: 10px;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}

menu ul li:hover {
  border-bottom: solid 1px rgba(255, 255, 255, .1);
}

menu:hover {
  width: 230px;
  transition: all .2s linear;
}

.container-funcionarios {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 10px;
  background: #fff;
  overflow: auto;
}

.container-funcionarios::-webkit-scrollbar {
  width: 7px;
}

.container-funcionarios::-webkit-scrollbar-thumb {
  background: #dcdcdc;
}

.container-funcionarios h3 {
  padding-left: 10px;
  margin: 20px 0px;
}

.container-funcionarios table {
  position: relative;
  width: 100%;
  margin-bottom: 80px;
}

.container-funcionarios table thead tr {
  color: #000;
  font-weight: bold;
}

.container-funcionarios table tr td:first-child {
  display: none;
}

.btn_excluir_funcionario {
  position: relative;
  background: #f00;
  border: none;
  color: #fff;
  width: 40px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  left: 50%;
  transform: translate(-50%);
}

.container-funcionarios table,
td {
  position: relative;
  padding: 7px;
  border-radius: 3px;
}

.container-cadastrar-funcionario {
  position: fixed;
  width: 100%;
  height: 100%;
  display: none;
  background: rgba(0, 0, 0, 0.6);
  top: 0px;
  left: 0px;
  justify-content: flex-end;
}

.cadastrar-funcionario {
  position: relative;
  width: 300px;
  height: 100%;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

.cadastrar-funcionario header {
  position: relative;
  width: 100%;
  background: #4e73df;
  color: #fff;
  display: flex;
  height: 70px;
  padding: 20px;
  font-size: 18px;
}

.cadastrar-funcionario header button {
  position: absolute;
  background: transparent;
  top: 0px;
  right: 0px;
  color: #fff;
  outline: none;
  border: none;
  margin: 10px 15px;
  cursor: pointer;
  font-size: 14px;
  padding: 4px 8px;
  border-radius: 50%;
}

.cadastrar-funcionario header button:hover {
  background: rgba(255, 255, 255, .4);
  transition: all .4s linear;
}

.cadastrar-funcionario form {
  position: relative;
  display: flex;
  flex: 1;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 80px;
}

.cadastrar-funcionario label,
select {
  position: relative;
  width: 90%;
  margin-top: 5px;
  margin-bottom: 10px;
}

.cadastrar-funcionario form input {
  position: relative;
  width: 90%;
  height: 30px;
  border: none;
  border-bottom: solid 1px #dcdcdc;
  outline: none;
  padding: 15px 5px;
  margin-bottom: 7px;
}

.cadastrar-funcionario form input:valid {
  border-bottom: solid 1px #228B22
}

.cadastrar-funcionario form input:focus {
  border-bottom-color: #4e73df;
}

.cadastrar-funcionario span {
  position: absolute;
  width: 100%;
  height: 50px;
  margin-top: 30px;
  bottom: 0px;
  left: 0px;
}

.cadastrar-funcionario span button {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  background: #4e73df;
  color: #fff;
}

.cadastrar-funcionario::-webkit-scrollbar {
  width: 7px;
}

.cadastrar-funcionario::-webkit-scrollbar-thumb {
  background: #dcdcdc;
  border-radius: 20px;
}


.modal {
  position: fixed;
  width: 300px;
  height: 70px;
  background: #2E8B57;
  bottom: 0px;
  right: -100%;
  border-radius: 10px 0px 0px 10px;
  z-index: 10;
}

.modal span {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.container-chatid {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, .6);
  display: flex;
  justify-content: center;
  display: none;
}

.chatid-modal {
  position: relative;
  background: #fff;
  width: 430px;
  height: 250px;
  margin-top: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.chatid-modal header {
  position: relative;
  width: 100%;
  height: 60px;
  background: #4e73df;
  color: #fff;
  padding: 15px 20px;
  font-weight: bold;
  border-radius: 10px 10px 0px 0px;
  font-size: 18px;
}

.chatid-modal main {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chatid-modal main input {
  position: relative;
  width: 230px;
  height: 35px;
  border: solid 1px #dcdcdc;
  margin-bottom: 15px;
  padding-left: 10px;
  outline-color: #4e73df;
}

.chatid-modal main input::before {
  content: 'ID';
  position: absolute;
  top: -30px;
}

.chatid-modal main button {
  position: relative;
  width: 120px;
  padding: 8px;
  cursor: pointer;
  border: none;
  color: #fff;
  background: #4e73df;
  outline: none;
}

.chatid-modal footer {
  position: relative;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  border-top: solid 1px #dcdcdc;
  padding: 5px;
}

.chatid-modal footer button {
  position: relative;
  width: 100px;
  height: 100%;
  background: #dcdcdc;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 15px;
}